body {
    font-family: 'Poppins';
    background-color: #101010;
    color: #fff;
    background-image: url(/static/images/vk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


@media only screen and (max-width: 900px) {
    body {
        background-position: center;
    }
}

@media only screen and (max-width: 990px) {

    .mobHide {
        display: none;
    }

    .mobNav {
        position: absolute;
        top: 0;
        display: flex;
        align-items: baseline;
        left: 0;
        right: 0;
        padding-left: 8%;

    }

    .mobNav ul {
        display: none;
    }

    .only-one {
        padding-top: 20px;
    }

    .mobNav .hamburger {
        position: absolute;
        right: 0;
        padding: 20px 8% 0 0;
    }

    .hamburger span {
        display: block;
        list-style: none;
        background: white;
        width: 28px;
        height: 3px;
        margin: 6px 0;
    }

    .activeUl {
        display: block;
    }
}

p {
    font-size: 17px;
}

ul {
    margin-bottom: 25px;
}

/* Index Page */
.index-visitor {
    height: 30%;
    width: 30%;
    margin: 35%;
    margin: 20% 35% 0;
}

.welcome-text {
    letter-spacing: 10px;
    font-weight: 500;
    margin-bottom: 20px;
}

@media only screen and (max-width: 900px) {
    .index-visitor {
        margin: 70% 15% 0;
        width: 70%;
    }
}



/* Header Page */
#header-section {
    position: relative;
}

.aniNav {
    animation: aniNav .8s 1;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #18d26e;
    transition: width .5s;
}

.nav-link:hover::after {
    width: 70%;
}


.navigation-menu {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    /* height: 100px; */
    padding: 20px 8%;
    left: 0;
    right: 0;
    background-color: #040404;
}

@keyframes aniNav {

    0% {
        top: 50%;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    .navigation-menu {
        padding: 20px;
    }
}

.main-logo {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 0;
}

@media only screen and (max-width: 600px) {
    .main-logo {
        font-size: 25px;
    }
}


.main-logo:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #fff;
}



/* home page */
#header-items {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: animateHome 1s 1;
}

.card-home {
    /* position: absolute;
    top: 30%;
    left: 8%; */
    padding: 20px;
    border: 0;
}

.name {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0;
    animation-name: animateName;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: .1s;
}

.name:hover {
    color: #fff;
}

.short-info {
    color: #FFFFFFCC;
    font-size: 23px;
    margin-bottom: 17px;
    line-height: 1.5;
}

.profession {
    color: #fff;
    border-bottom: 2px solid #18d26e;
    padding-bottom: 4px;
}

@keyframes animateHome {
    0% {
        bottom: 50%;
        opacity: 0;
    }

    100% {
        bottom: 0;
        opacity: 1;
    }
}

@keyframes animateName {
    0% {
        font-size: 35px;
    }

    100% {
        font-size: 40px;
    }
}

@media only screen and (max-width: 600px) {
    .name {
        font-size: 35px;
    }

    .short-info {
        font-size: 20px;
    }

    .profession {
        padding-bottom: 0;
    }
}

/* NavLinks*/

.nav-link {
    color: #FFFFFFB3;
    font-size: 20px;
    margin-right: 16px;
}

.nav-link:hover {
    color: #18d26e;
}

.active {
    color: #18d26e !important;
}

/* Social links*/

.social-links {
    color: #fff;
    font-size: 30px;
    margin: 15px 25px 0 0;
}

.social-links:hover {
    color: #18d26e;
}

/* About Page */
.my-image {
    text-align: center;
}

.profile-image {
    position: relative;
    top: 10%;
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

.item-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 17px;
}

.about-data {
    position: relative;
    width: 100%;
    text-align: center;
    background-color: #0404045c;
    margin: 9px 0 25px;
    padding: 20px;
}

.about-count {
    margin: 8px 0;
    font-weight: 510;
}

.arrow li::before {
    content: '\003E';
    color: #18d26e;
}

.arrow li {
    list-style: none;
}

.resume-subtitle-skill {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    color: #aaaaaa;
    font-weight: 600;
    font-size: 17px;
}

.resume-subtitle-skill span {
    width: 80px;
    height: 2px;
    background: #18d26e;
    margin: 0 0 0 1em;
}

.skill-lang {
    display: block;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1;
}

.skill-lang span {
    display: block;
    float: right;
}

.html-rate,
.python-rate,
.css-rate,
.sql-rate {
    height: 6px;
    background-color: #555;
    opacity: 1;
    border: none;
    margin-bottom: 25px;
}

.python-rate:before {
    background-color: #18d26e;
    content: '';
    height: 6px;
    width: 30%;
    position: absolute;
}

.html-rate:before {
    background-color: #18d26e;
    content: '';
    height: 6px;
    width: 36%;
    position: absolute;
}

.css-rate:before {
    background-color: #18d26e;
    content: '';
    height: 6px;
    width: 30%;
    position: absolute;
}

.sql-rate:before {
    background-color: #18d26e;
    content: '';
    height: 6px;
    width: 20%;
    position: absolute;
}

.interest-item {
    margin: 8px 0;
}

.testimonial-position {
    width: 70%;
    margin: 0 15%;
}

@media only screen and (max-width: 900px) {
    .profile-image {
        top: 0;
        margin-bottom: 15px;
    }
}

.testimonials-data {
    text-align: left;
}

.testimonialPerson {
    display: inline-block;
    margin-left: 20px;
    color: #18d26e;
}

.testimonial-img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

.testimonial-role {
    font-size: 12px;
    color: #aaaaaa;
}

@media only screen and (max-width: 600px) {
    .profile-image {
        top: 0;
        height: 175px;
        width: 175px;
        margin-bottom: 15px;
    }

    .testimonial-position {
        width: 90%;
        margin: 0 5%;
    }

    .carouse-buttons {
        visibility: hidden;
    }

    .testimonialPerson {
        margin-left: 5px;
    }
}

/* Resume Page */
#resume-section {
    position: relative;
    top: 120px;
    bottom: auto;
    padding-bottom: 20px;
    animation: animateSections 1s 1 .2s;
}

.card-resume {
    padding: 20px;
    /* background-color: #040404; */
    background-color: #0404045c;
    margin: 0 8%;
}

.resume-subtitle {
    /* display: inline-block; */
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #aaaaaa;
    font-size: 17px;
    font-weight: 600;
}

.resume-subtitle span {
    width: 80px;
    height: 2px;
    background: #18d26e;
    margin: 0 0 0 1em;
}

/* .item {
    display: inline-block;
    width: 100px;
    opacity: 1;
    color: #18d26e;
    margin: 0 0 5px 10px;
} */

.resume-title {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

.resume-title a {
    font-size: 15px;
    cursor: pointer;
    color: #18d26e;
    border: 1px solid #18d26e;
    padding: 8px;
    text-decoration: none;
}


.hr-below-restitle {
    width: 98%;
    margin-left: 1%;
    margin-bottom: 25px;
}

.resume-content-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
}

.resume-content-subtitle {
    font-size: 23px;
    font-weight: 600;
    color: #18d26e;
}

@media only screen and (max-width: 600px) {
    .resume-title {
        font-size: 25px;
    }

    .resume-content-title {
        font-size: 23px;
    }

    .resume-content-subtitle {
        font-size: 20px;
    }

    ul {
        padding-left: 10px;
    }

    .card-resume {
        margin: 0 5%;
    }
}

.resume-content-links {
    margin-bottom: 8px;
    font-size: 17px;

}

ol {
    margin-left: 22px;
}

.date-range {
    position: relative;
    border-radius: 5%;
    width: 130px;
    height: 40px;
    background-color: #0404045c;
    margin-bottom: 15px;
}

.from-to-date {
    position: relative;
    text-align: center;
    top: 10px;
    font-weight: 600;
}

.company-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #18d26e;
}

.experience-ul {
    padding-left: 0;
}


/* Contact Page */
.contact-box {
    position: relative;
    width: 100%;
    background-color: #0404045c;
    margin: 0 0 25px;
    padding: 20px;
}

.website-link {
    color: #fff;
    text-decoration: none;
}

.website-link:hover {
    color: #18d26e;
}

.new-icon {
    font-size: 23px;
    margin-right: 10px;
    color: #18d26e;
}

.contact-data {
    padding: 0 0 8px 35px;
    margin-bottom: 0;
}

.contact-social-link {
    color: #fff;
    font-size: 23px;
    margin: 0 25px 0 0;
}

.contact-social-link:hover {
    color: #18d26e;
}

@media only screen and (max-width: 600px) {
    .contact-social-link {
        margin: 0 15px 0 0;
    }
}


.form-input {
    background-color: #272727;
    border: 0;
    height: 45px;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    color: #fff;
}

input[type=text] {
    outline: none;
}

input[type=text]:focus {
    border: 2px solid #18d26e;
    transition: .2s;
}

.form-input-big {
    background-color: #272727;
    height: 150px;
    border: 0;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    color: #fff;
}

textarea[typeof=text] {
    outline: none;
}

textarea[typeof=text]:focus {
    border: 2px solid #18d26e;
    transition: .2s;
}

.from-item {
    text-align: center;
}

.btn {
    background-color: #18d26e;
    color: #fff;
}

.btn:hover {
    background-color: #18d26e;
    color: #040404;
}

textarea {
    outline: none;
}

textarea:focus {
    border: 1px solid #18d26e;
    transition: .2s;
}



@keyframes animateSections {
    0% {
        top: 700px;
        opacity: 0;
    }

    100% {
        top: 120px;
        opacity: 1;
    }
}

.card-header img {
    border-radius: 50%;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: #0404045c;
    margin-bottom: 1em;
}

.card-body li {
    list-style: none;
    margin-bottom: .25em;
}

.card-body p:nth-child(3) {
    color: #18d26e
}
.card-body h5{
    color: #18d26e;
    margin-bottom: 1.5em;
}
.card-body p:nth-child(5) {
    color: #18d26e
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-card::after {
    content: '';
    color: #18d26e;
    width: 0%;
    height: 0%;
    background-color: #000000d4;
    position: absolute;

}

.work-card:hover:after {
    content: 'View Site';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}