{% include "header.html" %}


<div id="resume-section">
    <div class="card-resume ">
        <div class="row">
            <h5 class="resume-subtitle">ABOUT <span></span></h5>
            <!--                <hr class="item">-->
            <h2 class="resume-title">LEARN MORE ABOUT ME</h2>
            <hr class="hr-below-restitle">
            <div class="col-lg-4 my-image">
                <img class="profile-image" src="../static/images/bg.jpg" alt="profile-picture">
            </div>
            <div class="col-lg-8">
                <h6 class="resume-content-subtitle">QA ENGINEER & CERTIFIED WEB DEVELOPER</h6>
                <p>
                    <em>Lorem ipsum was introduced to the digital world in the mid-1980s,
                        when Aldus employed it in graphic and word-processing templates</em>
                </p>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul class="experience-ul arrow">
                            <li class="resume-content-links">
                                <strong class="item-link">Birthday: </strong>4 April 1999
                            </li>
                            <li class="resume-content-links">
                                <strong class="item-link">Website: </strong>www.example.com
                            </li>

                            <li class="resume-content-links">
                                <strong class="item-link">Phone: </strong>
                                <a class="website-link" href="tel: 7057995047">+91-7057995047</a>
                            </li>
                            <li class="resume-content-links">
                                <strong class="item-link">City: </strong>Pune, Maharashtra, India.
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <ul class="experience-ul arrow">
                            <li class="resume-content-links">
                                <strong class="item-link">Age: </strong>23
                            </li>
                            <li class="resume-content-links">
                                <strong class="item-link">Degree: </strong>Undergraduate
                            </li>

                            <li class="resume-content-links">
                                <strong class="item-link">Email: </strong>
                                <a class="website-link" href="mailto: phadse04@gmail.com">phadse04@gmail.com</a>
                            </li>
                            <li class="resume-content-links">
                                <strong class="item-link">Freelance: </strong>Available
                            </li>
                        </ul>
                    </div>
                </div>
                <p>
                    Lorem ipsum was introduced to the digital world in the mid-1980s,
                    when Aldus employed it in graphic and word-processing templates Lorem ipsum was introduced
                    to the digital world in the mid-1980s, when Aldus employed it in graphic and
                    word-processing templates
                </p>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="about-data">
                    <h2><span class="about-count">3</span>+</h2>
                    <p>Projects Developed</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="about-data">
                    <h2 ><span class="about-count">6</span>+</h2>
                    <p>Projects Tested</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="about-data">
                    <h2 ><span class="about-count">4</span>+</h2>
                    <p>Certificates</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="about-data">
                    <h2 ><span class="about-count">500</span>+</h2>
                    <p>Hours Of Support</p>
                </div>
            </div>
            <h5 class="resume-subtitle-skill">SKILLS <span></span></h5>
            <div class="col-lg-6 col-md-6">
                <p class="skill-lang">PYTHON <span>70%</span>
                    <hr class="python-rate">
                </p>
                <p class="skill-lang">HTML <span>90%</span>
                    <hr class="html-rate">
                </p>
            </div>
            <div class="col-lg-6 col-md-6">
                <p class="skill-lang">CSS <span>70%</span>
                    <hr class="css-rate">
                </p>
                <p class="skill-lang">SQL <span>50%</span>
                    <hr class="sql-rate">
                </p>
            </div>
            <h5 class="resume-subtitle-skill">INTERESTS <span></span></h5>
            <div class="col-lg-3 col-md-6">
                <div class="about-data">
                    <h5 class="interest-item">Lorem ipsum</h5>
                </div>
                <div class="about-data">
                    <h5 class="interest-item">Lorem ipsum</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="about-data">
                    <h5 class="interest-item">Lorem ipsum</h5>
                </div>
                <div class="about-data">
                    <h5 class="interest-item">Lorem ipsum</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="about-data">
                    <h5 class="interest-item">Lorem ipsum</h5>
                </div>
                <div class="about-data">
                    <h5 class="interest-item">Lorem ipsum</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="about-data">
                    <h5 class="interest-item">Lorem ipsum</h5>
                </div>
                <div class="about-data">
                    <h5 class="interest-item">Lorem ipsum</h5>
                </div>
            </div>
            <h5 class="resume-subtitle-skill">TESTIMONIALS <span></span></h5>


            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <div class="testimonial-position about-data testimonials-data">
                            <p>
                                <em>
                                    First Lorem ipsum was introduced to the digital world in the mid-1980s, when Aldus
                                    employed
                                    it in graphic and word-processing templates Lorem ipsum was introduced to the
                                    digital world in the mid-1980s
                                </em>
                            </p>
                            <img class="testimonial-img" src="../static/images/bg.jpg" alt="testimonialImg">
                            <p class="testimonialPerson">Lorem ipsum<br><span class="testimonial-role">QA Lead</span>
                            </p>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="testimonial-position about-data testimonials-data">
                            <p>
                                <em>
                                    Second Lorem ipsum was introduced to the digital world in the mid-1980s, when Aldus
                                    employed
                                    it in graphic and word-processing templates Lorem ipsum was introduced to the
                                    digital world in the mid-1980s
                                </em>
                            </p>
                            <img class="testimonial-img" src="../static/images/bg.jpg" alt="testimonialImg">
                            <p class="testimonialPerson">Lorem ipsum<br><span class="testimonial-role">QA Lead</span>
                            </p>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="testimonial-position about-data testimonials-data">
                            <p>
                                <em>
                                    Third Lorem ipsum was introduced to the digital world in the mid-1980s, when Aldus
                                    employed
                                    it in graphic and word-processing templates Lorem ipsum was introduced to the
                                    digital world in the mid-1980s
                                </em>
                            </p>
                            <img class="testimonial-img" src="../static/images/bg.jpg" alt="testimonialImg">
                            <p class="testimonialPerson">Lorem ipsum<br><span class="testimonial-role">QA Lead</span>
                            </p>
                        </div>
                    </div>


                    <div class="carouse-buttons">

                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>

                    </div>

                </div>
            </div>


        </div>
    </div>
</div>



</body>

</html>

</html>