{% include "header.html" %}

<div id="resume-section">
    <div class="card-resume">
        <div class="row">
            <h5 class="resume-subtitle">RESUME <span></span></h5>
            <h2 class="resume-title">CHECK MY RESUME</h2>
            <hr class="hr-below-restitle">
            <div class="col-lg-6">
                <h3 class="resume-content-title">Summary</h3>
                <ul>
                    <li>
                        <h6 class="resume-content-subtitle">MANTHAN PHADSE</h6>
                        <p>
                            QA Engineer with 1+ years of manual and automation testing experience
                            capable of writing code for web development and automation codes for Selenium
                            webDriver with PYTHON. Certified Web Developer with strong knowledge of the Python
                            programming language, HTML,
                            CSS, SQL
                        <ul class="arrow experience-ul">
                            <li class="resume-content-links">
                                Pune, Maharashtra, India.
                            </li>
                            <li class="resume-content-links">
                                <a class="website-link" href="mailto: phadse04@gmail.com">phadse04@gmail.com</a>
                            </li>
                            <li class="resume-content-links">
                                <a class="website-link" href="tel: 7057995047">+91-7057995047</a>
                            </li>
                        </ul>
                        </p>
                    </li>
                </ul>
                <h3 class="resume-content-title">Education</h3>
                <ul>
                    <li>
                        <h6 class="resume-content-subtitle">BACHELOR OF TECHNOLOGY IN COMPUTER SCIENCE AND
                            ENGINEERING</h6>
                        <div class="date-range">
                            <h6 class="from-to-date"><em>2016-2022</em></h6>
                        </div>
                        <p><em>Indira College of Engg & Mgmt, Parandwadi - <strong>64.40%</strong></em></p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h6 class="resume-content-subtitle">HIGH SCHOOL</h6>
                        <div class="date-range">
                            <h6 class="from-to-date"><em>2014-2016</em></h6>
                        </div>
                        <p><em>Narayana Junior College, Madhapur - <strong>90.3%</strong></em></p>
                    </li>
                </ul>
                <h3 class="resume-content-title">Certification</h3>
                <ul class="arrow">
                    <li class="resume-content-links">
                        <a class="website-link contact-left-subtitle" href="" target="_blank">Python Web Development</a>
                    </li>
                    <li class="resume-content-links">
                        <a class="website-link contact-left-subtitle"
                            href="https://drive.google.com/file/d/12rP0CfRuSYDJXZLAm6nxQAkuYRmEk6JV/view?usp=sharing"
                           target="_blank">
                            Selenium with Python</a>
                    </li>
                    <li class="resume-content-links">
                        <a class="website-link contact-left-subtitle"
                            href="https://drive.google.com/file/d/1C6Sr2Tzsv6nPiw5UdvscMGWed9tRE_oq/view?usp=sharing"
                           target="_blank">
                            JMeter Performance Testing</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <h3 class="resume-content-title">Professional Experience</h3>
                <ul>
                    <li>
                        <h6 class="resume-content-subtitle">QUALITY ASSURANCE ENGINEER</h6>
                        <div class="date-range">
                            <h6 class="from-to-date"><em>2021-Present</em></h6>
                        </div>
                        <p><em class="company-name">Sunday Tech, Navi Mumbai, Maharashtra</em></p>
                        <div class="experience-ul">
                            <p class="resume-content-links">
                                Experience in designing, developing, and enhancing automated test scripts for
                                Selenium using Python
                            </p>
                            <p class="resume-content-links">
                                Extensively worked on JMeter to create Thread Groups and test Web Application for
                                various loads on key business scenarios
                            </p>
                            <p class="resume-content-links">
                                Performed Functional Testing, Data Driven Testing (Using Pyxl Libraries), and
                                Cross Browser Compatibility Testing on different browsers like IE, Firefox & Chrome.
                            </p>
                            <p>
                                <em class="company-name">Projects worked on :</em>
                                <ol class="experience-ul">
                                    <li class="resume-content-links">
                                        <strong class="company-name">Shipcom</strong> (Shipcom wireless is a US-based
                                        company. A leading provider of integrated supply chain execution
                                        software solutions.)
                                    </li>
                                    <li class="resume-content-links">
                                        <strong class="company-name">Shipcom - South Dakota</strong> (It is a
                                        warehouse inventory management project. And is used for the
                                        management of the materials received in a particular warehouse.)
                                    </li>
                                    <li class="resume-content-links">
                                        <strong class="company-name">GreenLogs</strong> (An app to track all
                                        the logs related to a ship.)
                                    </li>
                                    <li class="resume-content-links">
                                        <strong class="company-name">FinPro</strong> (An insurance-based app where
                                        an insurance agent would be receiving the insurance requests when the
                                        user fills out the form provided.)
                                    </li>
                                    <li class="resume-content-links">
                                        <strong class="company-name">CatGroup</strong> (A civil construction-based
                                        website where the information of a CAT Group is provided.)
                                    </li>
                                </ol>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>

</html>

</html>