
{% include "header.html" %}

<div id="resume-section">
    <div class="card-resume">
        <div class="row">
            <h5 class="resume-subtitle-skill"> My Recent Work <span></span></h5>
            <h2 class="resume-title">CHECK MY WORK</h2>
            <hr class="hr-below-restitle">

            <h3 class="resume-content-title">Projects Tested</h3>

            <div class="col-lg-4">
                <div class="card work-card">
                    <img src="../static/images/vk.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card work-card">
                    <img src="../static/images/vk.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card work-card">
                    <img src="../static/images/vk.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card work-card">
                    <img src="../static/images/vk.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card work-card">
                    <img src="../static/images/vk.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card work-card">
                    <img src="../static/images/vk.jpg" alt="">
                </div>
            </div>

            <h3 class="resume-content-title">Projects Tested</h3>

            <div class="col-lg-4">
                <div class="card work-card">
                    <img src="../static/images/vk.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card work-card">
                    <img src="../static/images/vk.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card work-card">
                    <img src="../static/images/vk.jpg" alt="">
                </div>
            </div>

        </div>
    </div>
</div>
